/* details */

.details-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-image, .details-content {
	margin: 0 30px;
}
.details-image img {
	display: block;
	margin: 50px auto;
}
h1 {
	text-align: center;
}
.details-youtube {
	margin: 0 auto;
	display: block;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
}
.load {
	font-size: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}